body {
    font-family: arial;
background-color: rgb(185,179,175);
}
h1 {
    background-color: rgb(236, 179, 175);
color: #4d0505de;
}
p {
   color: rgba(28, 29, 29, 0.329);
}
a {

    color: rgb(4, 105, 4);
}
   h3 {
    background-color: rgb(219, 215, 214);
color: #fdf906de;
}
h5 {
    
color: rgba(28, 29, 29, 0.329);
     
}